.weather-header {
    font-size: 20pt;
}

.weather-icon {
    max-width: 100px;
}

.weather-date {
    margin-right: 10px;
    font-size: 12pt;
    text-align: center;
}

.temperature {
    font-size: 30pt;
}

.description {
    padding: 0px 20px;
    padding-top: 20px;
    text-align: left;
    font-size: 12pt;
    color: #616161;

    .description-text {
        text-align: center;
        text-transform: uppercase;
        font-size: 12pt;
        color: #363636;
    }
}