.todo-text {
    max-width: 500px;
    word-wrap: break-word;
}

.checked {
    text-decoration-line: line-through;
    background-color: #acbff1 !important;
    transition: background-color 0.5s linear;
}

.todo-container{
    max-width: 100%;
    margin-left: auto; 
    margin:3px;

    background-size: 100%;
    background-color: #f2f4ff;    

    border-top-left-radius: 30px 50%;
    border-bottom-left-radius: 30px 50%;
    border-top-right-radius: 30px 50%;
    border-bottom-right-radius: 30px 50%;
}