$border-radius: 20px;
$border-rounding: 50%;

$background-color: #eaedfd;

.todo-container{
    max-width: 100%;
    margin-left: auto; 
    margin: 3px 0px;
    margin-right: 15px;

    background-size: 100%;
    background-color: $background-color;    

    border-top-left-radius: $border-radius $border-rounding;
    border-bottom-left-radius: $border-radius $border-rounding;
    border-top-right-radius: $border-radius $border-rounding;
    border-bottom-right-radius: $border-radius $border-rounding;

    .todo-text-container {
        cursor: pointer;
        padding: 0px;

        .todo-text {
            text-align: left;
            font-size: 14pt;
            color: #383841;
            margin: 0.6em 0em;
        
            max-width: 500px;
            word-wrap: break-word;
            word-break: break-word;
        }

        .edit-icon {
            margin-left: auto;
            color: #464646;
        }

        .hidden {
            display: none;
        }
    }
    
    .todo-date {
        font-size: 9pt;
        color: #8b8888;
    }

    .delete {
        color: rgb(218, 50, 50);
        cursor: pointer;
    }
    
    .edit-input {
        border: none;
        outline: none;
    
        padding: 0.15em 0em;
        padding-left: 15px;
    
        width: 100%;
    
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 14pt;
        color: #383841;
    
        background-size: 100%;
        background-color: $background-color;    
    }
    
    .edit-save {
        cursor: pointer;
        color: #78f56d
    }
    
    .edit-cancel {
        cursor: pointer;
        color: #c94141;
    }
}

.checked {
    background-color: #849cdb !important;
    transition: background-color 0.5s linear;

    .todo-text{
        text-decoration-line: line-through;
        font-style: italic;
        color: white;
    }

    .todo-date {
        color: white;
    }
}
