<div class="p-grid todo-container" [ngClass]="{'checked': todo.isDone}">
    <ng-container *ngIf="todoOnEditId === todo.id; then onEdit; else regular">
    </ng-container>

    <ng-template #regular>
        <div class="p-col-2 p-md-1 align-center justify-center">
            <input type="checkbox" class="ui-chkbox" [checked]="todo.isDone" (click)="toggleDone(todo)">
        </div>

        <div class="p-col-6 p-md-8 align-center todo-text-container" 
            (click)="editTodo(todo.id);"
            (mouseenter)="isHover = true"
            (mouseleave)="isHover = false">
            <span class="todo-text">{{todo.text}}</span>

            <i class="fa fa-pencil edit-icon" [ngClass]="{'hidden': !isHover}"></i>
        </div>

        <div class="p-col-3 p-md-2 align-center justify-center">
            <span class="todo-date">{{todo.lastEditDate | date : "HH:mm MM/dd/yy" }}</span>
        </div>

        <div class="p-col-1 p-md-1 align-center justify-center">
            <p-confirmDialog key="{{todo.id}}" header="Confirmation"></p-confirmDialog>
            <i class="fa fa-minus delete" (click)="deleteTodo(todo)"></i>
        </div>
    </ng-template>

    <ng-template #onEdit>
        <div class="p-col-8 p-md-10 align-center justify-center">
            <input #editField type="text" class="edit-input"
            value={{todo.text}} (keydown.enter)="updateTodo(editField.value)">
        </div>

        <div class="p-col-2 p-md-1 align-center edit-save" (click)="updateTodo(editField.value)">
            <i class="fa fa-check"></i>
        </div>

        <div class="p-col-2 p-md-1 align-center edit-cancel" (click)="finishEditing()">
            <i class="fa fa-ban"></i>
        </div>
    </ng-template>
</div>