.container {
    margin-top: 20px;
}

.todo-text {
    max-width: 500px;
    word-wrap: break-word;
}

.checked {
    background-size: 100%;
    background-color: #acbff1;
}

.todo-container{
    max-width: 100%;
    margin-left: auto; 
    margin:3px;
}