<div class="container" *ngIf="todoList && todoList.length">
  <div 
    class="p-grid p-justify-center todo-container" 
    *ngFor="let todo of todoList"
    [ngClass]="{'checked': todo.isDone}"
    >
    
    <div class="p-col-1">
      <input type="checkbox" class="ui-chkbox" [(ngModel)]="todo.isDone">
    </div>
    
    <div class="p-col-7 todo-text">
      {{todo.text}} 
    </div>
    
    <div class="p-col-2">
      {{todo.stringDate}} 
    </div>

    <div class="p-col-1">
        <button 
          pButton type="button" class="fa fa-edit"
          (click)="editTodo(todo)">
        </button>
    </div>

    <div class="p-col-1">
        <p-confirmDialog key="todo.id" header="Confirmation" icon="pi pi-exclamation-triangle" width="425">
          
        </p-confirmDialog>
        <button 
          pButton type="button" class="fa fa-trash"
          (click)="deleteTodo(todo)">
        </button>
    </div>
  </div>
</div>
