.collapsible {
    display: none;
}

.uncollapsed {
    display: block;
}

.danger {
    color: rgb(218, 67, 67) !important;
}

.optional-link {
    margin-right: 10px;
    color: #949496;
    cursor: pointer;
}

.optional-link:hover {
    text-decoration-line: underline;
}

.options-container {
    text-align: right;
}