<div *ngIf="todoList && todoList.length">
    <div class="options-container">
        <span class="optional-link" (click)="toggleCollapse()">
            <i class="fa fa-cog" style="margin-right: 5px;"></i>{{ isCollapsed ? 'Show done' : 'Hide done' }}
        </span> 

        <p-confirmDialog header="Confirmation" style="text-align: center"></p-confirmDialog>
        <span class="optional-link danger" (click)="deleteDone()">
            <i class="fa fa-trash" style="margin-right: 5px;"></i>Delete done
        </span> 
    </div>
    

    <div *ngFor="let todo of todoList">
        <div *ngIf="!todo.isDone">
            <app-todo-item 
                [todo]="todo" [todoOnEditId]='todoOnEditId' (edit)='setTodoOnEditId($event)'>
            </app-todo-item>
        </div>
        
        <div *ngIf="todo.isDone">
            <div class="collapsible" [ngClass]="{'uncollapsed': !isCollapsed}">
                <app-todo-item 
                    [todo]="todo" [todoOnEditId]='todoOnEditId' (edit)='setTodoOnEditId($event)'>
                </app-todo-item>
            </div>
        </div>
               
    </div>
    
</div>