.options-container {
    text-align: right;

    .options-link {
        margin-right: 15px;
        color: #949496;
        cursor: pointer;

        .options-icon { 
            margin-right: 5px;
        }
    }
    
    .options-link:hover {
        text-decoration-line: underline;
    }
}

.collapsed {
    display: none !important;
}

.uncollapsed {
    display: block;
}

.danger {
    color: #df4343 !important;
}