.container {
    max-width: 800px;
    margin: auto;

    margin-top: 20px;

    border: 1px inset #afafaf;
    border-radius: 5px;
}

.v-align-center {
    display:flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 5px;
}

.forecast-5-days {
    border-bottom: 3px inset #a4c7f5;
    margin: auto;
    margin: 5px;
}


