.container {
    max-width: 800px;
    margin: auto;
    padding-top: 30px;
}

.search-result {
    cursor: pointer;
    border-radius: 5px;
}

.search-result:hover {
    background-color: #a8cbf8;
    border: 3px outset #a4c7f5;
}

.error {
    font-size: 18pt;
    text-transform: uppercase;
    color: rgb(221, 79, 79);
}



