<div class="p-grid p-dir-rev container">

    <div class="p-col-12 p-md-4">
        <p-autoComplete [(ngModel)]="city" [suggestions]="searchResults" (onSelect)="getWeatherById(city.id)"
            (completeMethod)="search($event)" field="name" placeholder="{{city.name || 'Search'}}">
        </p-autoComplete>
    </div>

    <div class="p-col-12 p-md-8">
        <ng-container *ngIf="!errorMessage && weather; then regular; else error">
        </ng-container>

        <ng-template #error>
            <span class="error">{{errorMessage}}</span>
        </ng-template>

        <ng-template #regular>
            <app-current-weather [weather]="weather" [isGeo]='isGeo'></app-current-weather>
            <hr>
            <app-five-days-weather [fiveDaysWeather]="fiveDaysWeather"></app-five-days-weather>
        </ng-template>
    </div>

</div>
