.container {
    max-width: 800px;
    margin: auto;
    padding-top: 30px;
    
    .search-options-container {
        margin-top: 10px;

        .option-link {
            color: #949496;
            cursor: pointer;

            .option-icon { 
                margin-right: 5px;
            }
        }

        .option-link:hover {
            text-decoration-line: underline;
        }
    }

    .error {
        font-size: 18pt;
        text-transform: uppercase;
        color: rgb(221, 79, 79);
    }
}



