<form class="p-grid p-justify-center" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <div class="p-col-12 p-md-6">
        <input type="text" pInputText placeholder="First name"
            formControlName="firstName" class="input-text"/>
    </div>

    <div class="p-col-12 p-md-6">
        <input type="text" pInputText placeholder="Last name"
            formControlName="lastName" class="input-text"/>
    </div>

    <div class="p-col-12 p-md-12">
        <textarea pInputTextarea formControlName="feedback" placeholder="Feedback" class="feedback"></textarea>
    </div>

    <div class="p-col-12 p-md-12">
        <div class="gender justify-left">
            <p-radioButton name="gender" formControlName="gender" label="Male" value="male" class="gender-item"></p-radioButton>
            <p-radioButton name="gender" formControlName="gender" label="Female" value="female" class="gender-item"></p-radioButton>
        </div>
        <hr>
    </div>


    <div class="p-col-12 p-md-12">
        <p-checkbox label="I understand all the consequences of leaving the feedback!" 
            binary="true" [formControl]="feedbackForm.controls['agreement']" 
            class="agreement justify-left align-center"></p-checkbox>
    </div>

    <div class="p-col-12 p-md-12 submit">
        <button pButton type="submit" label="Save"></button> 
    </div>
</form>
