body {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

h1 {
    color: #383838;
}

h3 {
    color: #8a8d8d;
    margin-top: 30px;
    margin-bottom: 15px;
}

h4 {
    color: #036592;
    margin-top: 20px;
    margin-bottom: 0px;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.align-center {
    display: flex; 
    align-items: center;
}

.v-align-center {
    display: flex;
    align-items: flex-end;
}
