body {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.align-center {
    display: flex; 
    align-items: center;
}
