body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    color: #383838;
}

h3 {
    color: #8a8d8d;
    margin-top: 30px;
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

