.five-days-forecast-conteiner {
    margin-top:15px;

    .five-days-forecast-item {
        font-size: 10pt;
    
        .weather-date-small {
            font-size: 10pt;
            color: #414141;
            text-align: center;
        }
    }
}